.signup__image--container,
.login__image--container {
  background-image: url(../img/account-bg.jpg);
  height: 100vh;
  background-size: cover;
}

.signup__form--container,
.login__form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 756px) {
  .login__image--container,
  .signup__image--container {
    display: none;
  }
}

/* home https://res.cloudinary.com/learn-code-10/image/upload/v1653947013/yqajnhqf7usk56zkwqi5.png */
/* https://res.cloudinary.com/learn-code-10/image/upload/v1654093280/xkia6f13xxlk5xvvb5ed.png sale */
